 #compatibility-list-page{
	     padding-top:100px;
	     padding-bottom:150px;     
	     color:black;
	      
	 }

.price-table{
	    border:solid 1px white;
	    color:black;
	    background-color:white;
	}

.manufacturer-heading{
	     background-color:darkgray;
	     font-size:large;
	     width:100%;
	     display:inline-block;  
	     height:50px;
	     margin:0;
	     padding:0;
	     line-height:50px;
	 }