.unlock-heading {
    display: table-cell;
    vertical-align: middle;
    padding-top: 10%;
}

.jumbo-text {
    margin-top: -20px;
    font: $jumbo-font-size $main-font;   
}

.jumbo-text-with-shadow {
    @extend .jumbo-text;
    @include text-shadow(3px,3px,3px,$default-text-color-inverse);
}

.heading-light {
    font-size: 40px;
    color: $default-text-color;
}

.heading-light-smaller {
    font-size: 1em;
    color: $default-text-color;
    margin-bottom: 1em;
    margin-top: .5em;
    opacity: .75;
}
