#about-page{
	     padding-top:150px;   
	     background-color:#B3B3B3;
	     color:black;
	
	     -webkit-box-shadow: 7px 7px 5px 0px black;
	     -moz-box-shadow:    7px 7px 5px 0px black;
	     box-shadow:         7px 7px 5px 0px black;
	
	 }

.about-bg{
	     -webkit-box-shadow: 7px 7px 5px 0px black;
	     -moz-box-shadow:    7px 7px 5px 0px black;
	     box-shadow:         7px 7px 5px 0px black;
	     background-color:red;
	 }